
    <nav class="col-lg-10 offset-md-1">
        <ul class="menu ">
            <li class="logo" ><a href="https://www.examhub.lk/"  target="blank"><img src="../../../assets/white.png" alt="" class="img-fluid" width="10%" height="10%"></a></li>

            <li class="item button " ><a href="Examhub/Login" style="text-decoration: none;" ><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></li>
            <li class="item button secondary "><a href="Examhub/Signup" style="text-decoration: none;">Sign Up</a></li>
            <li class="toggle" (click)="btntoggle()"><span class="bars"></span></li>
        </ul>
    </nav>


