<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script> -->


  </head>
  <body>
    <div class="body">

<div style="width: 100%;height: 100%;">

    <div class="container col-md-10 ">
      <div class="forms-container">
        <div class="signin-signup" style="margin-left: 120px;">

          <!-- <form action="#" class="sign-in-form"> -->
            <div style="background-color: rgba(68, 206, 4, 0.67);

            height: 50px;
            margin-left: 11px;" class="col-md-8" id="message-box1">
              <p id="messagedone" style="text-align: center;padding-top: 3%;color: white;"></p>
            </div>
            <p class="title" style="margin-left: 60px;">Recover account</p>
            <div class="input-field">
              <i class="fa fa-user"></i>
              <input type="email" #email placeholder="email" />

            </div>
            <p id="error" style="margin-left: 10px;color: red;"></p>

            <button (click)="resetPassword(email.value)" value="Login" class="btn solid" style="margin-left: 120px;" >Recover</button>
            <div style="background-color:rgba(238, 3, 3, 0.59);

            height: 50px;
            margin-left: 11px;" class="col-md-8" id="message-box">
              <p id="message" style="text-align: center;padding-top: 3%;color: white;"></p>
            </div>

            </div>


          <!-- </form> -->


      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">

          <img src="../../../assets/learn.svg" class="image" alt="" />
        </div>
        </div>
       </div>
       </div>
      </div>
      </div>
  </body>
</html>
