<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script> -->


  </head>
  <body>
    <div class="body">
      <div class="loader loade" id="loading">
        Loading
        <span></span>
      </div>
<div style="width: 100%;height: 100%;">

    <div class="container col-md-10 ">
      <div class="forms-container">
        <div class="signin-signup" style="margin-left: 120px;">

          <!-- <form action="#" class="sign-in-form"> -->
            <p class="title" style="margin-left: 60px;">Reset Password</p>
            <div class="input-field">
              <i class="fa fa-lock"></i>
              <input type="password" #password placeholder="Password" />
            </div>
            <div class="input-field">
              <i class="fa fa-lock"></i>
              <input type="password" #Confirmpassword placeholder="confirmPassword" />
            </div>
            <p id="error" style="margin-left: 10px;color: red;"></p>

            <button (click)="resetPassword(password.value, Confirmpassword.value)" value="Login" class="btn solid" style="margin-left: 120px;" >Reset</button>
            <div style="background-color:rgba(238, 3, 3, 0.59);

            height: 50px;
            margin-left: 11px;" class="col-md-8" id="message-box">
              <p id="message" style="text-align: center;padding-top: 3%;color: white;"></p>
            </div>

            </div>


          <!-- </form> -->


      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">

          <img src="../../../assets/learn.svg" class="image" alt="" />
        </div>
        </div>
       </div>
       </div>
      </div>
      </div>
  </body>
</html>
